Core/Debug/*
GUI/MultiDimRot2.0
GUI/MultiDimRot2.0.exe
GUI/courier.ttf
*/bin/*
.metadata/*
RemoteSystemsTempFiles/*
.recommenders/*
*/.settings/*
*/.project
*/.cproject
*/.classpath
*.dll
.settings/